/* Header.css */

.Navbar {
  background-color: #282c34;
}

.Navbar.Brand {
  font-size: 1.5em;
  color: #61dafb;
}

.Nav.Link {
  color: #ffffff;
  margin-right: 10px;
}

.Nav.Link:hover {
  color: #61dafb;
}
